takeup.code-workspace
html/examples.html
html/disegni/cover2.png
html/disegni/cover2vera.png
html/disegni/Cover4.png
html/js/three.module.js
html/js/exporters/ColladaExporter.js
html/js/exporters/DRACOExporter.js
html/js/exporters/GLTFExporter.js
html/js/exporters/MMDExporter.js
html/js/exporters/PLYExporter.js
html/js/exporters/TypedGeometryExporter.js
html/js/tests/coplanar.html
html/js/tests/gourd.js
html/js/tests/images.png
html/js/tests/index.html
html/js/tests/issues.html
html/js/tests/lightgl.js
html/js/tests/more.html
html/js/tests/viewer.js
html/jsm/OrbitControls.js
